# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/configuploader/configuploader
bin/content_server/content_server
bin/upload_client/upload_client
bin/upload_server/upload_server

*.pb.go
*.pb
